@import "tailwindcss";

html, body {
    width: 640px;
    overflow: hidden;
    background: #000;
    color: white;

    margin: 0;
    padding: 0;

    font-family: 'Torus', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

@font-face {
    font-family: 'Torus';
    src: url('/fonts/Torus Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Torus';
    src: url('/fonts/Torus Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Torus';
    src: url('/fonts/Torus Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary-p: hsl(200, 100%, 50%);
    --color-primary-h1: hsl(200, 100%, 70%);
    --color-primary-h2: hsl(200, 50%, 45%);
    --color-primary-c1: hsl(200, 40%, 100%);
    --color-primary-c2: hsl(200, 40%, 90%);
    --color-primary-l1: hsl(200, 40%, 80%);
    --color-primary-l2: hsl(200, 40%, 75%);
    --color-primary-l3: hsl(200, 40%, 70%);
    --color-primary-l4: hsl(200, 40%, 50%);
    --color-primary-d1: hsl(200, 20%, 35%);
    --color-primary-d2: hsl(200, 20%, 30%);
    --color-primary-d3: hsl(200, 20%, 25%);
    --color-primary-d4: hsl(200, 20%, 20%);
    --color-primary-d5: hsl(200, 20%, 15%);
    --color-primary-d6: hsl(200, 20%, 10%);
    --color-primary-f1: hsl(200, 10%, 60%);
    --color-primary-b1: hsl(200, 10%, 40%);
    --color-primary-b2: hsl(200, 10%, 30%);
    --color-primary-b3: hsl(200, 10%, 25%);
    --color-primary-b4: hsl(200, 10%, 20%);
    --color-primary-b5: hsl(200, 10%, 15%);
    --color-primary-b6: hsl(200, 10%, 10%);
}
